form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20PX;
    margin-left: 350px;
    width: 50%;
    background-color: transparent;
    padding: 30px;
    border: 1px solid #91c7c4;
    border-radius: 5px;
  }  
  
  h2 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 100%;
  }
  
  .form-row label {
    font-weight: bold;
    width: 200px;
    margin-right: 10px;
  }
  
  .form-row input,
  .form-row select {
    flex: 1;
    padding: 8px;
    margin: 0;
    border: 1px solid #91c7c4;
    border-radius: 4px;
    width: 100%;
    background-color: #91c7c4;
  }
  
  .button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }


  .button-row-upload button {
    background-color: #e62929;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 5px;
    height: 40px;
    width: 28%;
  }
  
  .button-row-submit button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;

  }